 ## CarDekho Used Car Price Prediction

### Data Cleaning process

In [1]:
#Importing necessary libraries
import pandas as pd

Datasets

In [2]:
#Loading the datasets of different cities into dataframes
#bangalore data
df_bang=pd.read_excel(r"C:\Users\banup\Desktop\CarDekho Used Car Price Prediction\bangalore_cars.xlsx")
#chennai data
df_ch=pd.read_excel(r"C:\Users\banup\Desktop\CarDekho Used Car Price Prediction\chennai_cars.xlsx")
#delhi data
df_del=pd.read_excel(r"C:\Users\banup\Desktop\CarDekho Used Car Price Prediction\delhi_cars.xlsx")
#hyderabad data
df_hbd=pd.read_excel(r"C:\Users\banup\Desktop\CarDekho Used Car Price Prediction\hyderabad_cars.xlsx")
#jaipur data
df_jai=pd.read_excel(r"C:\Users\banup\Desktop\CarDekho Used Car Price Prediction\jaipur_cars.xlsx")
#kolkata data
df_kol=pd.read_excel(r"C:\Users\banup\Desktop\CarDekho Used Car Price Prediction\kolkata_cars.xlsx")

In [3]:
#Adding the city names to the corresponding dataframes
df_bang["city"] = "bangalore"
df_ch["city"]   = "chennai"
df_del["city"]  = "delhi"
df_hbd["city"]  = "hyderabad"
df_jai["city"]  = "jaipur"
df_kol["city"]  = "kolkata"

Combining the datasets

In [4]:
#Combining the dataframes
df_main=pd.concat([df_bang,df_ch,df_del,df_hbd,df_jai,df_kol],ignore_index=True,axis=0)
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)
df_main.head(2)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links,city
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,bangalore
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,bangalore

Data Cleaning process

In [5]:
#Function for converting string elements  to dictionary
import json
def str_to_dict(x):
    x=x.replace("'", "\"") 
    x=x.replace("None", "null")
    x=json.loads(x)
    return(x)

new_car_detail

In [6]:
#Converting the string elements of the column into dictonary
df_main["new_car_detail"]=df_main["new_car_detail"].apply(lambda x:str_to_dict(x))

In [7]:
#Creating a list of unique key of car details
different_keys_list_1=[]
for i in range (len(df_main)):
    dic=df_main.iloc[i]["new_car_detail"]
    for key in dic.keys():
      different_keys_list_1.append(key)
different_keys_set=set(different_keys_list_1) #using the set for filtering unique values
keys_list_1=list(different_keys_set)
keys_list_1

['ownerNo',
 'transmission',
 'modelYear',
 'price',
 'variantName',
 'owner',
 'trendingText',
 'bt',
 'km',
 'model',
 'ft',
 'priceSaving',
 'priceActual',
 'oem',
 'centralVariantId',
 'priceFixedText',
 'it']

In [8]:
#Extracting the values from dictionary and creating the corresponding columns with values
def extract_values_1(row,key):
    lis=row["new_car_detail"]
    if key in lis:
       return row["new_car_detail"][key]
    return None
for key in keys_list_1:
    df_main[key]=df_main.apply(lambda row,key=key:extract_values_1(row,key),axis=1)

In [9]:
df_main.head(2)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links,city,ownerNo,transmission,modelYear,price,variantName,owner,trendingText,bt,km,model,ft,priceSaving,priceActual,oem,centralVariantId,priceFixedText,it
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,bangalore,3,Manual,2015,₹ 4 Lakh,VXI,3rd Owner,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,Hatchback,"1,20,000",Maruti Celerio,Petrol,,,Maruti,3979,None,0
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,bangalore,2,Manual,2018,₹ 8.11 Lakh,1.5 Petrol Titanium BSIV,2nd Owner,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,SUV,"32,706",Ford Ecosport,Petrol,,,Ford,6087,None,0

new_car_overview

In [10]:
#Converting the string elements of the column into dictonary
df_main["new_car_overview"]=df_main["new_car_overview"].apply(lambda x:str_to_dict(x))

In [11]:
#Creating a list of unique key of car overview
keys_list_2=[]
len(df_main["new_car_overview"][0]["top"]) #[0]["key"]
for key in range (len(df_main["new_car_overview"][0]["top"])):
      keys_list_2.append(df_main["new_car_overview"][0]["top"][key]["key"])
keys_list_2

['Registration Year',
 'Insurance Validity',
 'Fuel Type',
 'Seats',
 'Kms Driven',
 'RTO',
 'Ownership',
 'Engine Displacement',
 'Transmission',
 'Year of Manufacture']

In [12]:
#Function for extracting the corresponding values
def  extract_values_2(row,key):
    lis=row["new_car_overview"]["top"]
    for dic in lis:
        if dic["key"]==key:
            return dic["value"]
    return None
#--------------------------------------------------------------------------------------
for key in keys_list_2:
    df_main[key]=df_main.apply(lambda row,key=key: extract_values_2(row,key),axis=1)

In [13]:
df_main.head(2)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links,city,ownerNo,transmission,modelYear,price,variantName,owner,trendingText,bt,km,model,ft,priceSaving,priceActual,oem,centralVariantId,priceFixedText,it,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,bangalore,3,Manual,2015,₹ 4 Lakh,VXI,3rd Owner,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,Hatchback,"1,20,000",Maruti Celerio,Petrol,,,Maruti,3979,None,0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,bangalore,2,Manual,2018,₹ 8.11 Lakh,1.5 Petrol Titanium BSIV,2nd Owner,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,SUV,"32,706",Ford Ecosport,Petrol,,,Ford,6087,None,0,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0

new_car_feature

In [14]:
#Converting the string elements  to dictionary
df_main["new_car_feature"]=df_main["new_car_feature"].apply(lambda x:str_to_dict(x))

In [15]:
#Extracting the top features
top_features_list=[]
for i in df_main["new_car_feature"]:
    for j in i["top"]:
        top_features_list.append(j["value"].lower())
top_features_set=set(top_features_list)
unique_top_features_list=list(top_features_set)
unique_top_features_list

['electric folding rear view mirror',
 'power windows front',
 'day night rear view mirror',
 'rear folding table',
 'radio',
 'fog lights rear',
 'integrated2din audio',
 'number of speaker',
 'anti lock braking system',
 'wheel covers',
 'adjustable seats',
 'power door locks',
 'accessory power outlet',
 'passenger air bag',
 'remote fuel lid opener',
 'manually adjustable exterior rear view mirror',
 'cruise control',
 'air quality control',
 'halogen headlamps',
 'audio system remote control',
 'rear seat headrest',
 'adjustable head lights',
 'tinted glass',
 'drive modes',
 'anti theft alarm',
 'tyre pressure monitor',
 'navigation system',
 'leather seats',
 'sun roof',
 'power antenna',
 'fog lights front',
 'bluetooth',
 'cassette player',
 'passenger side rear view mirror',
 'centeral locking',
 'touch screen',
 'digital odometer',
 'child safety locks',
 'multifunction steering wheel',
 'rear spoiler',
 'brake assist',
 'power windows rear',
 'leather steering wheel',
 'alloy wheels',
 'cd changer',
 'cd player',
 'fabric upholstery',
 'usb auxiliary input',
 'digital clock',
 'dvd player',
 'power adjustable exterior rear view mirror',
 'electronic multi tripmeter',
 'engine immobilizer',
 'cup holders front',
 'glove compartment',
 'side air bag front',
 'driving experience control eco',
 'remote trunk opener',
 'moon roof',
 'low fuel warning light',
 'rear window defogger',
 'speakers front',
 'integrated antenna',
 'driver air bag',
 'trunk light',
 'speakers rear',
 'tachometer',
 'adjustable steering',
 'leddrls',
 'heater',
 'power steering',
 'rear window wiper',
 'air conditioner',
 'rear seat belts',
 'vanity mirror']

In [16]:
#Filtering important features from the top unique features
filtered_unique_top_features_list=[
 'power windows front',
 'touch screen',
 'cd player',
 'alloy wheels',
 'anti lock braking system',
 'leather seats',
 'power steering',
 'driver air bag',
 'air conditioner',
 'power windows rear',
 'bluetooth',
 'radio',
 'passenger air bag',]

In [17]:
# Extracting the top feature presence in the car
def  extract_values_3(row,features):
    for i in range(len(row["new_car_feature"]["top"])):
        if (row["new_car_feature"]["top"][i]["value"]).lower()==features:
          return True
    return False        
for features in filtered_unique_top_features_list:
    df_main[features]=df_main.apply(lambda row, features=features : extract_values_3(row,features),axis=1)

In [18]:
#Safety features extraction
safety_features_list=[]
for i in df_main["new_car_feature"]:
   try:
    for j in (i["data"][3]["list"]):
        value= j["value"]
        safety_features_list.append( value)
   except   Exception:
     pass
safety_features_set=set(safety_features_list) #Converting to set to remove duplicates
unique_safety_features_list=list(safety_features_set)
unique_safety_features_list

['Xenon Headlamps',
 'Halogen Headlamps',
 'Hill Descent Control',
 'Speakers Front',
 'Driver Air Bag',
 'Hill Assist',
 'Brake Assist',
 'Apple Car Play',
 'Blind Spot Monitor',
 'Speed Sensing Auto Door Lock',
 'Passenger Side Rear View Mirror',
 'Anti Pinch Power Windows',
 'Integrated2Din Audio',
 'Vehicle Stability Control System',
 'Crash Sensor',
 'Anti Theft Device',
 'Wireless Phone Charging',
 'Engine Check Warning',
 'Isofix Child Seat Mounts',
 'Centrally Mounted Fuel Tank',
 'Day Night Rear View Mirror',
 'Speakers Rear',
 'Heads Up Display',
 'Speed Alert',
 'Follow Me Home Headlamps',
 'Pretensioners And Force Limiter Seatbelts',
 'Front Impact Beams',
 'Automatic Head Lamps',
 'Tyre Pressure Monitor',
 'Side Air Bag Front',
 'Radio',
 'Side Air Bag Rear',
 'Clutch Lock',
 'Usb Auxiliary Input',
 'Bluetooth',
 'Impact Sensing Auto Door Lock',
 'Centeral Locking',
 'Rear Camera',
 'Eletronic Stability Control',
 'View360Camera',
 'Anti Theft Alarm',
 'Rear Seat Belts',
 'Power Door Locks',
 'Ebd',
 'Lane Watch Camera',
 'Keyless Entry',
 'Touch Screen',
 'Seat Belt Warning',
 'Adjustable Seats',
 'Geo Fence Alert',
 'Passenger Air Bag',
 'No Of Airbags',
 'Door Ajar Warning',
 'Engine Immobilizer',
 'Side Impact Beams',
 'Number Of Speaker',
 'Traction Control',
 'Android Auto',
 'Child Safety Locks',
 'Knee Airbags',
 'Sos Emergency Assistance',
 'Anti Lock Braking System']

In [19]:
#Filtering the unique safety features
filtered_unique_safety_features_list=['Passenger Air Bag','Driver Air Bag','Anti Lock Braking System']

In [20]:
# Extracting the safety feature presence in the car
def extract_values_4(row,feature):
     try:
      for i in range(len(row["new_car_feature"]["data"][3]["list"])):
          if row["new_car_feature"]["data"][3]["list"][i]["value"]==feature:
               return True
      return False
     except Exception:
         return False
for feature in filtered_unique_safety_features_list:
    df_main[feature]=df_main.apply(lambda row ,feature=feature: extract_values_4(row,feature),axis=1)

In [21]:
#Exterior features extraction
exterior_features_list=[]
for i in df_main["new_car_feature"]:
   try:
    for j in (i["data"][2]["list"]):
        value= j["value"]
        exterior_features_list.append( value)
   except   Exception:
     pass
exterior_features_set=set(exterior_features_list) #Converting to set to remove duplicates
unique_exterior_features_list=list(exterior_features_set)
#unique_exterior_features_list

In [22]:
#Filtering the required feature
filtered_exterior_feature_list=["Alloy Wheels"]

In [23]:
# Extracting the exterior feature presence in the car
def extract_values_5(row,feature):
     try:
      for i in range(len(row["new_car_feature"]["data"][2]["list"])):
          if row["new_car_feature"]["data"][2]["list"][i]["value"]==feature:
               return True
      return False
     except Exception:
         return False
for feature in filtered_exterior_feature_list:
    df_main[feature]=df_main.apply(lambda row ,feature=feature: extract_values_5(row,feature),axis=1)

In [24]:
df_main.head(2)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links,city,ownerNo,transmission,modelYear,price,variantName,owner,trendingText,bt,km,model,ft,priceSaving,priceActual,oem,centralVariantId,priceFixedText,it,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture,power windows front,touch screen,cd player,alloy wheels,anti lock braking system,leather seats,power steering,driver air bag,air conditioner,power windows rear,bluetooth,radio,passenger air bag,Passenger Air Bag,Driver Air Bag,Anti Lock Braking System,Alloy Wheels
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,bangalore,3,Manual,2015,₹ 4 Lakh,VXI,3rd Owner,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,Hatchback,"1,20,000",Maruti Celerio,Petrol,,,Maruti,3979,None,0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0,True,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,bangalore,2,Manual,2018,₹ 8.11 Lakh,1.5 Petrol Titanium BSIV,2nd Owner,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,SUV,"32,706",Ford Ecosport,Petrol,,,Ford,6087,None,0,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0,True,False,True,False,True,False,True,False,True,False,False,False,False,True,True,True,True

new_car_specs

In [25]:
#Converting the string elements to dictionary
df_main["new_car_specs"]=df_main["new_car_specs"].apply(lambda x:str_to_dict(x))

In [26]:
#Extracting the top features
engine_features_list=[]
for i in df_main["new_car_specs"]:
    for j in i["top"]:
     engine_features_list.append(j["key"])
engine_features_set=set(engine_features_list)
unique_engine_features_list=list(engine_features_set)
unique_engine_features_list

['Engine', 'Mileage', 'Wheel Size', 'Torque', 'Max Power', 'Seats']

In [27]:
#Filtering the unique features
filtered_unique_engine_features_list=['Mileage', 'Seats', 'Max Power', 'Engine', 'Torque']

In [28]:
# Extracting the engine feature presence in the car
def  extract_values_6(row,feature):
    for i in range(len(row["new_car_specs"]["top"])):
        if (row["new_car_specs"]["top"][i]["key"])==feature:
          return row["new_car_specs"]["top"][i]["value"]
    return None      
for feature in filtered_unique_engine_features_list:
    df_main[feature]=df_main.apply(lambda row, feature=feature : extract_values_6(row,feature),axis=1)

In [29]:
#Extracting engine and transmission features
engine_features_list_2=[]
for i in df_main["new_car_specs"]:
    for j in i["data"][0]["list"]:
        engine_features_list_2.append(j["key"])
engine_features_set_2=set(engine_features_list_2)
unique_engine_features_list_2=list(engine_features_set_2)
unique_engine_features_list_2

['Displacement',
 'Engine Type',
 'Super Charger',
 'Steering Type',
 'Values per Cylinder',
 'Tyre Type',
 'Compression Ratio',
 'Turbo Charger',
 'Value Configuration',
 'No Door Numbers',
 'Color',
 'Seating Capacity',
 'Fuel Suppy System',
 'Alloy Wheel Size',
 'Max Torque',
 'Max Power',
 'No of Cylinder',
 'BoreX Stroke']

In [30]:
#Filtering engine Features
filtered_unique_engine_features_list_2=[
 'Max Power',
 'Engine Type',
 'No of Cylinder',
 'Values per Cylinder',
 'Turbo Charger',
 'Fuel Suppy System',
 'No of Cylinder']

In [31]:
# Extracting the engine feature presence in the car
def  extract_values_7(row,feature):
    try:
        for i in range(len(row["new_car_specs"]["data"][0]["list"][1]["key"])):
            if (row["new_car_specs"]["data"][0]["list"][i]["key"])==feature:
              return row["new_car_specs"]["data"][0]["list"][i]["value"]
    except Exception:
        return None
    return       
for feature in filtered_unique_engine_features_list_2:
    df_main[feature]=df_main.apply(lambda row, feature=feature : extract_values_7(row,feature),axis=1)

In [32]:
#Extracting engine and transmission features
engine_features_list_3=[]
for i in df_main["new_car_specs"]:
  try:
    for j in i["data"][2]["list"]:
        engine_features_list_3.append(j["key"])
  except Exception:
     pass
engine_features_set_3=set(engine_features_list_3)
unique_engine_features_list_3=list(engine_features_set_3)
unique_engine_features_list_3

['Steering Type',
 'Tyre Type',
 'No Door Numbers',
 'Drive Type',
 'Acceleration',
 'Rear Brake Type',
 'Alloy Wheel Size',
 'Cargo Volumn',
 'Top Speed',
 'Front Brake Type',
 'Seating Capacity',
 'Gear Box',
 'Turning Radius']

In [33]:
#Filtering the required Keys
filtered_unique_engine_features_list_3 =[
 'Cargo Volumn',
 'Front Brake Type',
 'Gear Box',
 'Rear Brake Type',
 'Drive Type',
 'Top Speed',
 "Alloy Wheel Size",
 'Acceleration']

In [34]:
# Extracting the engine feature presence in the car
def  extract_values_8(row,feature):
    try:
        for i in range(len(row["new_car_specs"]["data"][2]["list"])):
            if (row["new_car_specs"]["data"][2]["list"][i]["key"])==feature:
              return row["new_car_specs"]["data"][2]["list"][i]["value"]
    except Exception:
        return None
    return       
for feature in filtered_unique_engine_features_list_3:
    df_main[feature]=df_main.apply(lambda row, feature=feature : extract_values_8(row,feature),axis=1)

In [35]:
df_main.head(2)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links,city,ownerNo,transmission,modelYear,price,variantName,owner,trendingText,bt,km,model,ft,priceSaving,priceActual,oem,centralVariantId,priceFixedText,it,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture,power windows front,touch screen,cd player,alloy wheels,anti lock braking system,leather seats,power steering,driver air bag,air conditioner,power windows rear,bluetooth,radio,passenger air bag,Passenger Air Bag,Driver Air Bag,Anti Lock Braking System,Alloy Wheels,Mileage,Max Power,Engine,Torque,Engine Type,No of Cylinder,Values per Cylinder,Turbo Charger,Fuel Suppy System,Cargo Volumn,Front Brake Type,Gear Box,Rear Brake Type,Drive Type,Top Speed,Alloy Wheel Size,Acceleration
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,bangalore,3,Manual,2015,₹ 4 Lakh,VXI,3rd Owner,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,Hatchback,"1,20,000",Maruti Celerio,Petrol,,,Maruti,3979,None,0,2015,Third Party insurance,Petrol,5,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0,True,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,23.1 kmpl,67.04bhp@6000rpm,998 CC,90Nm,K10B Engine,3.0,4.0,None,MPFi,235-litres,Ventilated Disc,5 Speed,Drum,FWD,150 Kmph,None,15.05 Seconds
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,bangalore,2,Manual,2018,₹ 8.11 Lakh,1.5 Petrol Titanium BSIV,2nd Owner,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,SUV,"32,706",Ford Ecosport,Petrol,,,Ford,6087,None,0,Feb 2018,Comprehensive,Petrol,5,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0,True,False,True,False,True,False,True,False,True,False,False,False,False,True,True,True,True,17 kmpl,121.31bhp@6500rpm,1497 CC,150Nm,Ti-VCT Petrol Engine,3.0,4.0,None,Direct Injection,352-litres,Ventilated Disc,5 Speed,Drum,FWD,None,16,None

Filtering the required columns

In [36]:
#Filtering the necessary columns
#df_main.columns.to_list()
filtered_columns=[
 'oem',
 'model',
 'modelYear',
 'bt',
 'Fuel Type',
 'Transmission',
 "Max Power",
 'Engine',
 'Mileage',
 'km',
 'ownerNo',
 'Insurance Validity',
 "Seats",
 'Alloy Wheels',
 'city', 
 'price'
 ]
df_filtered=df_main[filtered_columns]
df_filtered.head(2)

,oem,model,modelYear,bt,Fuel Type,Transmission,Max Power,Engine,Mileage,km,ownerNo,Insurance Validity,Seats,Alloy Wheels,city,price
0,Maruti,Maruti Celerio,2015,Hatchback,Petrol,Manual,67.04bhp@6000rpm,998 CC,23.1 kmpl,"1,20,000",3,Third Party insurance,5,False,bangalore,₹ 4 Lakh
1,Ford,Ford Ecosport,2018,SUV,Petrol,Manual,121.31bhp@6500rpm,1497 CC,17 kmpl,"32,706",2,Comprehensive,5,True,bangalore,₹ 8.11 Lakh

Data cleaning of filtered data

In [37]:
#Changing the column names
df_filtered=df_filtered.rename(columns={'oem':"manufacturer",
 'model': "model_name",
 'modelYear':"model_year",
 'bt':'body_type',
 'Fuel Type':"fuel_type",
 'km': "kilometers",
 'Transmission': "transmission",
 "Max Power":"power",
 "Seats":"seats",
 'ownerNo':"previous_owners",
 'Insurance Validity': "insurance_type",
 'Mileage': "mileage",
 "Engine": "engine_(cc)",
 'anti lock braking system': "ABS",
 'Alloy Wheels': "alloy_wheels",
 'city': "city",
 'price': "price_(₹)"})

In [38]:
df_filtered.head(1)

,manufacturer,model_name,model_year,body_type,fuel_type,transmission,power,engine_(cc),mileage,kilometers,previous_owners,insurance_type,seats,alloy_wheels,city,price_(₹)
0,Maruti,Maruti Celerio,2015,Hatchback,Petrol,Manual,67.04bhp@6000rpm,998 CC,23.1 kmpl,"1,20,000",3,Third Party insurance,5,False,bangalore,₹ 4 Lakh

In [39]:
#shape
df_filtered.shape

(8369, 16)

In [40]:
#Checking for duplicates
df_filtered.duplicated().sum()

114

In [41]:
#Dropping the duplicated rows
df_filtered.drop_duplicates(inplace=True)

In [42]:
#Checking for the datatype
df_filtered.dtypes

manufacturer       object
model_name         object
model_year          int64
body_type          object
fuel_type          object
transmission       object
power              object
engine_(cc)        object
mileage            object
kilometers         object
previous_owners     int64
insurance_type     object
seats              object
alloy_wheels         bool
city               object
price_(₹)          object
dtype: object

In [43]:
#Checking for null values
df_filtered.isna().sum()

manufacturer         0
model_name           0
model_year           0
body_type            0
fuel_type            0
transmission         0
power               60
engine_(cc)          4
mileage            283
kilometers           0
previous_owners      0
insurance_type       4
seats                5
alloy_wheels         0
city                 0
price_(₹)            0
dtype: int64

manufacturer

In [44]:
#Checking for value counts
print(df_filtered["manufacturer"].value_counts().to_dict())

{'Maruti': 2219, 'Hyundai': 1631, 'Honda': 855, 'Tata': 428, 'Mahindra': 371, 'Toyota': 321, 'Renault': 309, 'Ford': 306, 'Volkswagen': 285, 'Mercedes-Benz': 241, 'BMW': 182, 'Skoda': 158, 'Audi': 156, 'Kia': 155, 'Jeep': 111, 'MG': 88, 'Nissan': 78, 'Chevrolet': 76, 'Datsun': 74, 'Land Rover': 43, 'Volvo': 41, 'Jaguar': 34, 'Fiat': 30, 'Mitsubishi': 13, 'Mini': 12, 'Citroen': 8, 'Porsche': 6, 'Isuzu': 5, 'Lexus': 4, 'Mahindra Ssangyong': 4, 'Mahindra Renault': 4, 'Hindustan Motors': 4, 'Opel': 3}

In [45]:
#Replacing and grouping the manufacturer names
df_filtered["manufacturer"]=df_filtered["manufacturer"].replace({"Mahindra Renault":"Mahindra","Mahindra Ssangyong":"Mahindra"})

model_name

In [46]:
#Replacing manufacturer name in model name
#print(df_filtered["manufacturer"].value_counts().to_dict().keys())
manufacturer_list=['Maruti', 'Hyundai', 'Honda', 'Tata', 'Mahindra', 'Toyota', 'Renault', 'Ford', 'Volkswagen', 'Mercedes-Benz', 'BMW', 'Skoda', 'Kia', 'Audi', 'Jeep', 'MG', 'Nissan', 'Chevrolet', 'Datsun', 'Land Rover', 'Volvo', 'Jaguar', 'Fiat', 'Mitsubishi', 'Mini', 'Citroen', 'Porsche', 'Isuzu', 'Lexus', 'Hindustan Motors', 'Opel']
for manufacturer in manufacturer_list:
     df_filtered["model_name"]=df_filtered["model_name"].str.replace(manufacturer,"").str.strip()
print(df_filtered["model_name"].value_counts().to_dict())

{'City': 366, 'Swift': 347, 'i20': 328, 'Baleno': 291, 'Grand i10': 259, 'Wagon R': 249, 'Swift Dzire': 248, 'Creta': 193, 'i10': 179, 'Verna': 179, 'Amaze': 174, 'Ecosport': 165, 'Alto 800': 162, 'Celerio': 151, 'KWID': 149, 'Polo': 143, 'Ciaz': 126, 'XUV500': 125, 'Jazz': 112, 'Compass': 102, 'Tiago': 95, 'Seltos': 93, 'Vitara Brezza': 91, 'Nexon': 88, 'Alto K10': 82, 'WR-V': 81, 'Ertiga': 80, 'Venue': 79, 'EON': 70, 'Duster': 70, 'Vento': 66, 'Rapid': 66, 'Figo': 63, 'Brio': 61, 'Innova Crysta': 61, 'Fortuner': 60, 'Ignis': 60, 'Grand i10 Nios': 58, 'Santro Xing': 58, 'C-Class': 56, 'Innova': 54, 'Alto': 53, 'Xcent': 53, 'Santro': 51, 'S-Presso': 48, 'RediGO': 46, 'Hector': 46, 'E-Class': 45, 'Ritz': 43, 'Triber': 42, '3 Series': 39, 'Scorpio': 38, 'Corolla Altis': 38, 'Sonet': 37, 'Thar': 37, 'XUV300': 37, '5 Series': 37, 'Altroz': 33, 'X1': 32, 'Q3': 31, 'A6': 31, 'Magnite': 31, 'Endeavour': 30, 'Kiger': 29, 'Ameo': 29, 'SX4 S Cross': 29, 'Harrier': 29, 'A4': 28, 'Elantra': 27, 'TUV 300': 27, 'i20 Active': 24, 'Tigor': 24, 'New Safari': 23, 'Beat': 23, 'Etios': 23, 'Superb': 23, 'Taigun': 22, 'Q5': 22, 'GLC': 22, 'Eeco': 20, 'Q7': 19, 'CLA': 19, 'Glanza': 18, 'Alcazar': 18, 'GLE': 17, 'Yaris': 17, 'X3': 17, 'Carens': 17, 'A3': 17, 'Octavia': 17, 'Cruze': 16, 'Bolero': 16, 'KUV 100': 16, 'Urban cruiser': 16, 'Kushaq': 16, 'Aspire': 16, 'Aura': 16, 'GO': 15, 'Zest': 15, 'Hector Plus': 15, 'XL6': 15, 'KUV 100 NXT': 15, 'X5': 15, 'Zen Estilo': 15, 'Range Rover Evoque': 15, 'Micra': 14, 'CR-V': 14, 'Manza': 14, 'XF': 14, 'S-Class': 14, 'M-Class': 13, 'Celerio X': 13, 'Civic': 13, 'Accent': 13, 'Mobilio': 13, 'Terrano': 13, 'Indica V2': 13, 'GO Plus': 13, 'Indica': 12, 'Punch': 12, '800': 12, 'A-Star': 12, 'Brezza': 12, 'Fiesta': 12, 'Indigo': 12, 'Spark': 12, 'Astor': 12, '3 Series GT': 12, 'Hexa': 11, 'Discovery Sport': 11, 'Nano': 11, 'GLS': 11, 'XC60': 11, 'Slavia': 11, 'New Accord': 11, 'Etios Liva': 11, 'Linea': 11, 'Jetta': 11, 'Camry': 11, 'Marazzo': 10, 'Gloster': 10, 'XUV700': 10, 'XC40': 9, 'SX4': 9, '3 Series Gran Limousine': 9, 'Safari Storme': 9, 'S60': 9, 'BR-V': 9, 'Laura': 9, 'Sail': 9, 'Freestyle': 9, 'GLA Class': 9, 'Sunny': 8, 'Fabia': 8, 'Zen': 8, 'Micra Active': 8, 'Carnival': 8, 'Wagon R Stingray': 7, 'Range Rover Sport': 7, 'XJ': 7, 'Getz': 7, 'Scorpio N': 7, 'Punto': 7, 'Bolero Power Plus': 7, 'Captur': 7, '6 Series': 7, 'i20 N Line': 7, 'Swift Dzire Tour': 7, 'Nexon EV Prime': 7, 'XE': 7, 'Scala': 6, 'GL-Class': 6, '7 Series': 6, 'Pajero': 5, 'Bolero Neo': 5, 'Ikon': 5, 'XC 90': 5, 'Tavera': 5, 'F-Pace': 5, 'Kodiaq': 5, 'Cooper': 4, 'Nexon EV': 4, 'Tiago NRG': 4, 'Grand Vitara': 4, 'ZS EV': 4, 'Fiesta Classic': 4, 'Omni': 4, 'C5 Aircross': 4, 'B Class': 4, 'A-Class Limousine': 4, 'Meridian': 4, 'Kicks': 4, 'C3': 4, 'Ssangyong Rexton': 4, 'Q2': 4, 'Optra': 4, 'Logan': 4, 'Wrangler': 4, 'Esteem': 4, 'Virtus': 4, 'Tucson': 3, 'Alturas G4': 3, 'GLA': 3, 'A A 35': 3, 'Tigor EV': 3, 'Grande Punto': 3, 'Etios Cross': 3, 'Jimny': 3, 'Outlander': 3, 'CLS-Class': 3, 'Passat': 3, 'Lancer': 3, 'Cooper Countryman': 3, 'Quanto': 3, 'Ambassador': 3, 'Estilo': 3, 'Freelander 2': 3, 'Corsa': 3, 'Enjoy': 3, 'Xylo': 3, 'A Class': 3, 'Gypsy': 3, 'X4': 3, 'Baleno RS': 3, 'Avventura': 3, 'Sonata': 3, 'Santa Fe': 3, 'Tiguan': 3, 'Yeti': 3, 'A G 63': 2, 'Defender': 2, 'RX': 2, 'Panamera': 2, 'E Verito': 2, 'Macan': 2, 'Xcent Prime': 2, 'S90': 2, 'Bolt': 2, 'Fortuner Legender': 2, 'Scorpio Classic': 2, 'V40': 2, 'D-Max': 2, 'Nexon EV Max': 2, 'Qualis': 2, 'X7': 2, 'e2o Plus': 2, 'ES': 2, 'S60 Cross Country': 2, 'Mondeo': 2, 'Range Rover Velar': 2, 'Discovery': 2, 'Aveo': 2, 'MU-X': 2, '1 Series': 2, 'Punto EVO': 2, 'Hyryder': 2, 'Fluence': 2, 'Lodgy': 2, 'Cedia': 2, 'Bolero Camper': 2, 'Pulse': 2, 'T-Roc': 2, 'S5 Sportback': 1, 'Aria': 1, 'CrossPolo': 1, 'City Hybrid': 1, 'Kona': 1, 'A GT': 1, 'Aveo U-VA': 1, 'EQC': 1, 'Abarth Avventura': 1, 'Contessa': 1, 'A GLC 43': 1, 'Compass Trailhawk': 1, 'Corolla': 1, 'Sumo Victa': 1, 'Bolero Pik Up Extra Long': 1, 'Captiva': 1, 'Yodha Pickup': 1, 'Indigo Marina': 1, '911': 1, '2 Series': 1, 'Range Rover': 1, 'S 80': 1, 'Punto Abarth': 1, 'Verito': 1, '1000': 1, 'Tiguan Allspace': 1, 'Sumo': 1, 'Palio': 1, 'A3 cabriolet': 1, 'Ertiga Tour': 1, 'MU 7': 1, 'Comet EV': 1, '5 DOOR': 1, 'Versa': 1, 'Punto Pure': 1, '3 DOOR': 1, 'A8': 1, '': 1, 'A GLA 35': 1, 'TUV 300 Plus': 1, 'Cooper SE': 1, 'GLC Coupe': 1, 'Cooper Clubman': 1, 'Cayenne': 1, 'Q3 Sportback': 1, 'G': 1, 'Cooper Convertible': 1, 'Vellfire': 1, 'Land Cruiser 300': 1, 'SLC': 1, 'FRONX': 1, 'Celerio Tour 2018-2021': 1, 'F-TYPE': 1}

In [47]:
#Replacing the model name 
df_filtered.loc[df_filtered["model_name"]=="","model_name"]="Armada"

model_year

In [48]:
#Changing the datatype of  model year column to integer
df_filtered["model_year"]=df_filtered["model_year"].astype("int")

body_type

In [49]:
df_filtered["body_type"].value_counts()

body_type
Hatchback        3527
SUV              2199
Sedan            2138
MUV               342
Minivans           21
Coupe              10
Pickup Trucks       6
Convertibles        6
                    4
Hybrids             1
Wagon               1
Name: count, dtype: int64

In [50]:
#Changing the body type names
df_filtered.loc[df_filtered["body_type"]=="Hybrids","body_type"]="SUV"
df_filtered.loc[df_filtered["body_type"]=="Wagon","body_type"]="Hatchback"
df_filtered.loc[df_filtered["body_type"]=="","body_type"]="Minivans"

In [51]:
#Grouping the miniumum count  body_types into "Others"
body_type_list=['Minivans', 'Coupe','Pickup Trucks', 'Convertibles']
for b_type in body_type_list:
    df_filtered.loc[df_filtered["body_type"]==b_type,"body_type"]="Others"

fuel_type

In [52]:
df_filtered["fuel_type"].value_counts()

fuel_type
Petrol      5473
Diesel      2642
CNG           96
Electric      28
LPG           16
Name: count, dtype: int64

transmission

In [53]:
df_filtered["transmission"].value_counts()

transmission
Manual       5973
Automatic    2282
Name: count, dtype: int64

Kilometers

In [54]:
#Replacing the string elements in kilometers column
df_filtered["kilometers"]=df_filtered["kilometers"].str.replace(",","")

In [55]:
#Changing the datatype of  kilometers column to float
df_filtered["kilometers"]=df_filtered["kilometers"].astype("float")

power

In [56]:
#Extracting and transfering the power of engine to "bhp"
def extract_power(x):
        import re 
        if x==None:
             return x
        if "bhp" in x or "BHp" in x or "hp" in x or "HP" in x:
            pattern_1=r"^([0-9\.]+)"
            bhp_1=re.findall(pattern_1,x)
            if bhp_1:
                return float(bhp_1[0])
            else:
                return x
        if "PS" in x or "ps" in x or "Ps" in x:
            pattern_2=r"^([0-9\.]+)"
            ps=re.findall(pattern_2,x)
            bhp_2=float(ps[0])*0.98632
            return bhp_2 
        else :
            pattern_3= r'^(\d+)'
            match_3=re.findall(pattern_3,x)
            return float(match_3[0])
    
df_filtered["power"]=df_filtered["power"].apply(lambda x:extract_power(x))

In [57]:
#Checking for the NaN values
df_filtered["power"].isna().sum()

60

In [58]:
#Filling the NaN VALUES
car_model_list=df_filtered[df_filtered["power"].isna()]["model_name"].to_list()
car_model_set=set(car_model_list) # Converting to set to avoid duplicates 
car_model_list=list(car_model_set)
print(car_model_list)
car_model_list=['Swift', 'C-Class', 'Santro', 'Esteem',"Armada" ,'CR-V', 'Etios Liva', 'Santro Xing', 'Qualis', 'Gypsy', 'Tucson', 'Indica', '1000', 'Fiesta', 'Estilo', 'Contessa', 'Etios', 'Endeavour', 'Celerio Tour 2018-2021', 'Mondeo', 'Omni']
bhp_list=[88.5,201.15,68,91,90,154,68,62.18,75,80,155,69,45,89,67,54,89,167.2,65,143,34 ]
for model_name,bhp in zip(car_model_list,bhp_list):
    df_filtered.loc[(df_filtered["model_name"]==model_name)&(df_filtered["power"].isna()),"power"]=bhp

['Gypsy', 'Indica', 'Mondeo', 'Santro Xing', 'Tucson', 'Santro', 'Fiesta', 'Celerio Tour 2018-2021', 'Contessa', 'Omni', 'Estilo', 'Armada', 'Etios', 'C-Class', 'Swift', 'Esteem', 'Endeavour', '1000', 'Etios Liva', 'Qualis', 'CR-V']

previous_owners

In [59]:
##Changing the datatype of  previous_owners column to integer
df_filtered["previous_owners"]=df_filtered["previous_owners"].astype("int")

In [60]:
df_filtered["previous_owners"].value_counts()

previous_owners
1    5815
2    1948
3     365
4      78
0      32
5      17
Name: count, dtype: int64

insurance_type

In [62]:
df_filtered["insurance_type"].value_counts()

insurance_type
Third Party insurance    3953
Comprehensive            3138
Third Party               630
Zero Dep                  303
Not Available             223
1                           3
2                           1
Name: count, dtype: int64

In [63]:
#Replacing and grouping the insurance type 
df_filtered["insurance_type"]=df_filtered["insurance_type"].replace(
    {"Third Party insurance":"third_party_insurance",
     "Comprehensive ":"comprehensive",
     "Third Party":"third_party_insurance",
     "Zero Dep":"zero_depreciation",
     "Not Available":"not_available",
     "1":"not_available",
     "2":"not_available",
     })

In [64]:
#Filling the NaN values
df_filtered["insurance_type"].fillna("not_available",inplace=True)

seats

In [65]:
#Checking for NaN values
df_filtered["seats"].isna().sum()

5

In [66]:
#Filling the NaN values
df_filtered.loc[df_filtered["model_name"]=="Endeavour","seats"]=7
df_filtered.loc[df_filtered["model_name"]=="Estilo","seats"]=5
df_filtered.loc[df_filtered["model_name"]=="Ambassador","seats"]=5
df_filtered.loc[df_filtered["seats"]=="null","seats"]=5

In [67]:
#Changing the Datatype
df_filtered["seats"]=df_filtered["seats"].astype("int")

engine_(cc)

In [68]:
#Replacing the unecessary characters and converting into float datatype
df_filtered["engine_(cc)"]=df_filtered["engine_(cc)"].str.replace("CC","")
df_filtered["engine_(cc)"]=df_filtered["engine_(cc)"].astype("float")

In [69]:
df_filtered[df_filtered["engine_(cc)"].isna()]
#Filling the Nan values with "0"
df_filtered["engine_(cc)"].fillna(0,inplace=True)

Note:Engine cc of electic cars is not determined because they are powered by electric motors

In [70]:
#filling the missing values in engine_cc column
df_filtered.loc[(df_filtered["model_name"]=="Gypsy")&(df_filtered["engine_(cc)"]==0),"engine_(cc)"]=1298
df_filtered.loc[(df_filtered["model_name"]=="C-Class")&(df_filtered["engine_(cc)"]==0),"engine_(cc)"]=1998

mileage

In [71]:
#Converting km/kg to kmpl for  vehicles which are using CNG as fuel
def convert_kmkg_kmpl(x):
    if x==None:
        return None
    if x.endswith("km/kg"):
        x=x[:-6]
        x=float(x)
        x=x*1.4 #formula for converting km/kg to kmpl 
        return x
    if x.endswith("kmpl"):
        x=x[:-5]
        return x
    
df_filtered["mileage"]=df_filtered["mileage"].apply(lambda x :convert_kmkg_kmpl(x))

In [72]:
#Converting string to float datatype
df_filtered["mileage"]=df_filtered["mileage"].astype('float')

In [73]:
#Filling the NaN values  by mean mileage of particular model 
model_mileage_mean=df_filtered.groupby(["model_name"])["mileage"].mean()
for model_name in model_mileage_mean.index:
    mask=(df_filtered["model_name"]==model_name)&(df_filtered["mileage"].isna())
    mean_mileage=model_mileage_mean[model_name]
    df_filtered.loc[(df_filtered["model_name"]==model_name)&(df_filtered["mileage"].isna()),"mileage"]=mean_mileage

In [74]:
#Still there are some missing values in mileage coulumn.This can be filled by taking mean of manufacturer with fuel type 
#Filling the NaN values  by mean mileage of  manufacturer eith fueltype
manufacturer_fueltype_mileage_mean=df_filtered.groupby(["manufacturer","fuel_type"])["mileage"].mean()
manufacturer_fueltype_mileage_mean.index
for (manufacturer_name,fuel_type),mean_mileage in manufacturer_fueltype_mileage_mean.items():
    mask=(df_filtered["manufacturer"]==manufacturer_name)&(df_filtered["fuel_type"]==fuel_type)&(df_filtered["mileage"].isna())
    df_filtered.loc[mask,"mileage"]=mean_mileage

price_(₹)

In [75]:
#Converting price in other formats to lakh 
def convert_lakh(x):
    x=x.replace("₹","")
    x=x.replace(",","")
    x=x.strip()
    if x.endswith("Crore"):
        x=x[:-6]
        x=float(x)
        return x*100
    if not x.endswith("Crore") and not x.endswith("Lakh"):
        x=float(x)
        return x/100000
    if x.endswith("Lakh"):
        x=x[:-5]
        return float(x)
df_filtered["price_(₹)"]=df_filtered["price_(₹)"].apply(lambda x :convert_lakh(x))

In [76]:
#Renaming the column to price in lakhs
df_filtered.rename(columns={"price_(₹)":"price_in_lakhs_(₹)","power":"power_(bhp)"},inplace=True)

Dropping the specific category

Dropping Electric ,LPG, CNG,category vehicles from the dataset ,because this category vehicles are very low when compared to others,which may affect the prediction ability

In [77]:
df_filtered["fuel_type"].value_counts()

fuel_type
Petrol      5473
Diesel      2642
CNG           96
Electric      28
LPG           16
Name: count, dtype: int64

In [78]:
df_filtered= df_filtered[~df_filtered["fuel_type"].isin(["LPG","Electric","CNG"])]

In [79]:
df_filtered.head(2)

,manufacturer,model_name,model_year,body_type,fuel_type,transmission,power_(bhp),engine_(cc),mileage,kilometers,previous_owners,insurance_type,seats,alloy_wheels,city,price_in_lakhs_(₹)
0,Maruti,Celerio,2015,Hatchback,Petrol,Manual,67.04,998.0,23.1,120000.0,3,third_party_insurance,5,False,bangalore,4.00
1,Ford,Ecosport,2018,SUV,Petrol,Manual,121.31,1497.0,17.0,32706.0,2,Comprehensive,5,True,bangalore,8.11

In [80]:
#dropping the alloy wheel column
df_filtered.drop(columns=["alloy_wheels"],inplace=True)

Saving the cleaned dataset into a new ".csv" file

In [81]:
df_filtered.to_csv("processed_car_data.csv",index=False)